pyTelegramBotAPI
pyrogram
tgcrypto
redis
requests
httpx[http2]
aiohttp
aiofiles
pytz
pytio
meval
psycopg2-binary
py-cpuinfo
psutil
hijri-converter
SpeechRecognition
wget
pytube
shazamio
telegraph
pydub
Pillow
mutagen
Python-ARQ
